div {
  -webkit-user-select: none;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.gameBoard {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 1px black;
  overflow: hidden;
  background-image: url('./assets/football_field.png');
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: 100% 285%;
}

#SLOTpreview {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 28;
}

#RWOpreview {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 25;
}

#LWOpreview {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 25;
}

.ball, .zipBall, .lobBall {
  position: absolute;
  background-image: url('./assets/football.png');
  pointer-events: none;
  height: 4%;
  width: 3%;
  z-index: 31;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 92%;
  left: 49%;
  /*-webkit-transform: rotateX(80deg);*/
  /*-webkit-transform-origin: 20% 40%;*/
}

.zipBall {
  z-index: 32;
}

.receiver, .qb {
  position: absolute;
  background-image: url('./assets/helmet.png');
  height: 5%;
  width: 6%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 30;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.qb {
  top: 94%;
  left: 48%;
  pointer-events: none;
}

.lwo {
  top: 92%;
  left: 10%;
}

.rwo {
  top: 92%;
  left: 85%;
}

.slot {
  top: 93%;
  left: 28%;
}

.caught {
  position: absolute;
  background-image: url('./assets/caught.png');
  display: none;
  height: 47px;
  width: 60px;
  z-index: 40;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.incomplete {
  position: absolute;
  background-image: url('./assets/incomplete1.png');
  display: none;
  height: 62px;
  width: 65px;
  z-index: 40;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.touchdown, #touchdown {
  position: absolute;
  background-image: url('./assets/touchdown.png');
  display: none;
  height: 62px;
  width: 65px;
  z-index: 40;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}