div {
  -webkit-user-select: none;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.gameBoard {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 1px black;
  overflow: hidden;
  background-image: url('./assets/field.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#SLOTpreview {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 28;
}

#RWOpreview {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 25;
}

#LWOpreview {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 25;
}

.lobBall, .zipBall {
  position: absolute;
  background-image: url('./assets/football.png');
  height: 18px;
  width: 11px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 31;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*-webkit-transform: rotate(0deg);*/
  /*-webkit-transform-origin: 20% 40%;*/
}

.zipBall {
  z-index: 32;
}

.receiver, .qb {
  position: absolute;
  background-image: url('./assets/helmet.png');
  height: 17px;
  width: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 30;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.caught {
  position: absolute;
  background-image: url('./assets/caught.png');
  display: none;
  height: 47px;
  width: 60px;
  z-index: 40;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.incomplete {
  position: absolute;
  background-image: url('./assets/incomplete1.png');
  display: none;
  height: 62px;
  width: 65px;
  z-index: 40;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.touchdown, #touchdown {
  position: absolute;
  background-image: url('./assets/touchdown.png');
  display: none;
  height: 62px;
  width: 65px;
  z-index: 40;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}