.gameBoard {
  position: absolute;
  width: 310px;
  height: 500px;
  border: solid 1px black;
  overflow: hidden;
  background-image: url('./assets/field.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#preview {
  position: absolute;
  width: 310px;
  height: 500px;
  border: solid 1px black;
  overflow: hidden;
  z-index: 10;
}


.lobBall, .zipBall {
  position: absolute;
  background-image: url('./assets/football.png');
  height: 18px;
  width: 11px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 5;
}

.zipBall {
  z-index: 10;
}

.receiver, .qb {
  background-image: url('./assets/helmet.png');
  height: 17px;
  width: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


.showRoutes {
  position: fixed;
  left: 330px;
  top: 150px;
  border: solid 1px black;
  padding: 5px;
  cursor: 'pointer';
}

.newGame {
  position: fixed;
  left: 330px;
  top: 200px;
  border: solid 1px black;
  padding: 5px;
  cursor: 'pointer';
}

.caught {
  position: absolute;
  background-image: url('./assets/caught.png');
  display: none;
  height: 47px;
  width: 60px;
  z-index: 11;
}

.incomplete {
  position: absolute;
  background-image: url('./assets/incomplete1.png');
  display: none;
  height: 62px;
  width: 65px;
  z-index: 11;
}