.gameBoard {
  position: absolute;
  width: 310px;
  height: 500px;
  border: solid 1px black;
  overflow: hidden;
  background-image: url('./assets/field.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.startGame {
  position: absolute;
  width: 310px;
  height: 500px;
  z-index: 10;
}

.lobBall, .zipBall {
  position: absolute;
  background-image: url('./assets/football.png');
  height: 18px;
  width: 11px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.zipBall {
  z-index: 10;
}

.receiver {
  background-image: url('./assets/helmet.jpg');
  height: 18px;
  width: 12px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.showRoutes {
  position: fixed;
  left: 330px;
  top: 150px;
  border: solid 1px black;
  padding: 5px;
}

.newGame {
  position: fixed;
  left: 330px;
  top: 200px;
  border: solid 1px black;
  padding: 5px;
}

.caught {
  position: absolute;
  background-image: url('./assets/explosion.png');
  display: none;
  height: 29px;
  width: 38px;
}